h5, p {
  font-size: 1.1rem;
  font-family: 'Montserrat';
}

.class-myname{
  padding-top: 30px;
  font-family: 'Great Vibes';
  text-align: center;
  font-size: 3.5rem;
  color: #151D3B;
}

.class-role{
  font-family: 'Great Vibes';
  text-align: center;
}

.class-perfil{
  padding-top: 10px;
  text-align: justify;
  font-size: 20px;
}

.div-top {
background: #F7F7F7;
height: 540px;
}

.div-middle{
  background: #557B83;
  height:450px;
  align-content: center;
  margin-top: 30px;
}

.div-middle-main {
  height: 350px;
  width:  1000px;
  position: relative;
  left: 200px;
  right: 80;
  /* top: 20px; */
  bottom: 20px;
}

.container{
  position: relative;
  top: 30px;
}

.img-text {
  text-align:  justify;
  margin-left: 20px;
  position: relative;
  left: 250px;
  top: 50px;
  font-size: 1.2rem
}

.img-text-main{
  font-size: 2rem;
}

.img-photo{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 100px  ;
  left: 80px;
}

 .img-cards{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  /* width: 150px;
  height: 150px;
  margin-left: 20px;
  position: relative;
  top : 50px; */
}

.divices-img{
  width: 450px;
  height: 450px;
}

.img-photo:hover{
  transform: rotate(360deg);
  -webkit-transform : rotate(360deg);
  transition : 2s ease-in-out;
   border-radius:50%;
  -webkit-border-radius: 50%;
  -webkit-box-shadow : 0 0 15px 15px grey;
}

.carousel-item{
  height: 700px;

}

.conatiner-img {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 800px;
    top: 30px;
}

/* .row{
  width: 1500px;
} */

.container{
    max-width: 1600px;
}

.carousel-indicators{
  position: relative;
  top : 350px;

}

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}


#third-col{
  background-image: url('/home/jvfiguera/Web Develoments/website-porfolio/templates/images/divices.jpg');
  background-size: 435px;
  /* width: 50px; */
  height: 420px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #064663;
    font-weight: bold;
}

.id-focus:hover {
  color: #9A0680;
}

.div-bottom {
font-family: 'Great Vibes';
text-align: center;
background-color: #F7F7F7;
/* padding: 50px 0 20px; */
}

.contact-link{
   font-family: 'Montserrat';
   color: #064663;
   font-weight: bold;
    position: relative;
    top: 10px;
    padding: 0px 20px 0 20px;
}

.copyright{
  color: #EAF6F6;
  /* font-size: 0.75rem;
  padding: 5px 0; */
}

#id-gallery{
  height: 650px;
  font-family: 'Great Vibes';
  text-align: center;
  background-color: #F7F7F7;
  padding: 20px 0 20px

}


.card1 {
    width: 24rem;
    height: 50px;
    position: absolute;
    left: 15px;
    top: 1050px;
    margin-top: 30px;
}

.card2 {
    width: 24rem;
    height: 50px;
    position: absolute;
    top: 1050px;
    left: 437.33px;
    margin-top: 30px;
}

.card3 {
    width: 24rem;
    height: 50px;
    position: absolute;
    top: 1050px;
    left: 864.666px;
    margin-top: 30px;
}

.card4 {
    width: 24rem;
    height: 50px;
    position: absolute;
    top: 1050px;
    left: 1285.999px;
    margin-top: 30px;
}

.card-text{
  font-size: 1rem;
  font-family: 'Montserrat';
}

.btn-primary{
background: #557B83;
}

/* Nuevo efecto hover de la imagen*/

.img-device{
  width:  420px;
  height: 420px;
}

.col3-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.col3-container figure{
  position: relative;
  width:  420px;
  height: 420px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 16px 25px rgba(0,0,0,0,50);
  cursor: pointer;
}

 .col3-container figure img{
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.col3-container figure .Layer{
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: rgba(11,103,123,0.6);
transition: all 500ms ease-out;
opacity: 0;
visibility: hidden;
text-align: center;
}

.col3-container figure:hover > .Layer {
  opacity: 1;
  visibility: visible;
}

.col3-container figure:hover > img {
  transform: scale(1.4,1.4);
}

.col3-container figure:hover > .Layer h3{
  margin-top: 70px;
  margin-bottom: 15px;
}


.col3-container figure .Layer h3{
  color: #fff;
  font-weight: 400px;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}


.col3-container figure .Layer p{
color: #fff;
font-size: 15px;
line-height: 1.5px;
width: 100%;
max-width: 220px;
margin: auto;
}
